{% extends 'blog/base.html' %}

{% block title%}
Author {{author.first_name}}{{author.last_name}}
{% endblock title %}

{% block content %}
<div>
	<h1>Blog name: {{ blog.name }}</h1>
	<h1>Blog author: <a href="{% url 'blog:user' blog.author.id %}">{{ blog.author }}</a></h1>
	<h1>Rating: {{ blog.rating }}</h1>
	{% if user.is_authenticated %}
		<a href="{% url 'blog:new_post' blog.name %}">CREATE NEW POST FOR THIS BLOG</a>
	{% endif %}
</div>
<p class='title'>Blog posts</p>
<div>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Blog</th>
				<th>Topic</th>
				<th>Title</th>
				<th>Content</th>
				<th>Date published</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
		{% for post in posts %}
			<tr>
				<th>{{ post.id }}</th>
				<th>{{ post.blog }}</th>
				<th>{{ post.topic }}</th>
				<th>{{ post.title }}</th>
				<th>{{ post.text|slice:25 }}</th>
				<th>{{ post.date_published }}</th>
				<th><a href="{% url 'blog:post' post.id %}">Detail</a></th>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}