{% extends 'blog/base.html' %}

{% block title%}
Author {{author.first_name}}{{author.last_name}}
{% endblock title %}

{% block content %}
{% if blogs %}  
    <p class='title'>Blogs</p>
    {% for blog in blogs %}
        <div class='list' onclick="location.href='{% url 'blog:blog' blog.name %}'">
            <li>
                <a href="{% url 'blog:blog' blog.name %}">{{ blog.name }}</a>
                <a class=author href="{% url 'blog:user' blog.author.id %}">Author: {{ blog.author }}</a>
                <hr>
            </li>
        </div>
    {% endfor %}
{% else %}
    <p class='title'>No blogs yet</p>
{% endif %}
{% endblock content %}